.marquee-container
  .marquee
    span.marquee__item распознавание номерных знаков
    span.marquee__item распознавание лиц людей
    span.marquee__item идентификация персоны
    span.marquee__item функция сигнализации
    span.marquee__item идентификация эмоций
